.places__paragraph {
  grid-column: 2;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.places__paragraph:first-of-type {
  margin-bottom: 36px;
}

@media screen and (max-width: 375px) {
  .places__paragraph {
    width: 90%;
    font-size: 16px;
    line-height: 27px;
    margin: 0 auto;
  }

  .places__paragraph:first-of-type {
    margin-bottom: 24px;
  }
}
