@import url('__item/photo-grid__item.css');

.photo-grid {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 0 5.75rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: auto;
  grid-gap: 0.875rem;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    width: 90%;
    padding-bottom: 6.375rem;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-gap: .5rem;
  }
}
