.cover__subtitle {
  font-size: 1.125rem;
  line-height: 1.6rem;
  max-width: 382px;
  text-align: center;
  margin: 0 auto 4%;
  grid-column: 1;
  grid-row: 2;
  z-index: 2;
  outline: 1px solid white;
  align-self: end;
}
