@import url('__title/intro__title.css');
@import url('__content-row/intro__content-row.css');
@import url('__text/intro__text.css');
@import url('__accent/intro__accent.css');

.intro {
  max-width: 984px;
  margin: 0 auto 102px;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin: 0 auto 97px;
  }
}

@media screen and (max-width: 375px) {
  .intro {
    margin: 0 auto 64px;
  }
}
