@import url('__title/cover__title.css');
@import url('__subtitle/cover__subtitle.css');
@import url('__cover-bg-image/cover__cover-bg-image.css');
@import url('__rect/cover__rect.css');

.cover {
  max-width: 1184px;
  margin: 0 auto 208px;
  display: grid;
  grid-template-rows: 58% 42%;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}
