.comments__quote {
  margin: 42px 0 24px;
  font-size: .875rem;
  line-height: 1.5rem;
}

@media screen and (max-width: 768px) {
  .comments__quote {
    margin: 0;
    font-size: 1rem;
    line-height: 1.4rem;
    grid-row: 3;
  }
}
