.places__place {
  width: 100%;
  display: grid;
  grid-template-columns: 46% 1fr;
  grid-template-rows: repeat(3, min-content);
  grid-column-gap: 2.5rem;
}

@media screen and (max-width: 1024px) {
  .places__place {
    grid-column-gap: 2rem;
  }
}

@media screen and (max-width: 639px) {
  .places__place {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, min-content);
  }
}
