.cover__title {
    width: 90%;
    margin: 0 auto 0;
    font-size: 4.5rem;
    line-height: 4.8rem;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
    outline: 1px solid white;
    align-self: end;
  }


  @media screen and (max-width: 768px) {
    .cover__title {
      margin: 20% auto 0;
      font-size: 2.5rem;
      line-height: 2.6rem;
    }
  }


  @media screen and (max-width: 375px) {
    .content-title {
      font-size: 2rem;
      line-height: 2.1rem;
    }
  }
}
