.video__bg {
  width: 100%;
  height: 323px;
  background-size: cover;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.video__bg::before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  background-color: #000;
  opacity: .3;
  transition: opacity .7s ease;
  top: 0;
  left: 0;
}

.video__bg:hover::before {
  opacity: .5;
}

@media screen and (max-width: 1280px) {
  .video__bg {
    height: 25.24vw;
  }
}

@media screen and (max-width: 1040px) {
  .video__bg {
    height: 28.125vw;
  }
}

@media screen and (max-width: 768px) {
  .video__bg {
    height: 26.042vw;
  }
}

@media screen and (max-width: 639px) {
  .video__bg {
    height: 53.305vw;
  }
}

@media screen and (max-width: 320px) {
  .video__bg {
    height: 60vw;
  }
}
